*{
    margin: 0; padding: 0;
}
    body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.bloque
{
    width: 100%;
    height: auto;
    overflow: hidden;

}
.header
{

    background-image: url(Imagenes/fondo3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 260px;
}
.centrar
{
    width: 80%;
    height: auto;
    overflow: hidden;
    border: 0px solid red;
    margin: auto;
    text-align: center;
    padding: 40px 0px;
    
}
.imglogoindex{
    margin-top: -60px;
    height: 230px;
}
.logo
{
    color: darkgray; margin-top: 10px;
    width: 30%;
    float: left;
    text-align: left;
}
.menu-principal
{
    width: 50%;
    float: right;
    border: 0px solid #fff;
    background-color: transparent;
    border-radius: 7px;
    
}
.menu-principal ul {

}

.menu-principal ul li
{
    list-style: none;
    display: inline-block;
    padding: 15px 20px;


}
.menu-principal ul li a
{
    color: beige;
    text-decoration: none;
}
.izquierda, .derecha{
    width: 45%;
    height: auto; overflow: hidden;
    border: 0px solid cornsilk; 
    display: inline-block;
}
.izquierda
{
    float: left; text-align: left; }

    .derecha{ float: right;}
    
    .subtitulo 
    {
        color: beige;
    }
    .titulo-principal
    {
        color: #fff;
        font-size: 60px;
    }
.descripcion 
{
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.boton
{
    padding: 17px 35px;
    background-color: rgb(3, 131, 52);
    color: #fff;
    border-radius: 7px;
    border: 0px;
}
.img-pres
{
    width: 90%;
    padding-top: -10px;
}
.logofont
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 50px;
}






footer
{
    margin-top: 30px;
    height: 360px;
width: 100%;
padding: 40px 0px;
background-image: url(Imagenes/fondo3.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
.footer .centrar .izquierda 
{
    color: #ccc;
}
.footer .centrar .izquierda h4,p
{
    text-align: center;
}
.footer .centrar .izquierda p
{
    border-top: 1px solid #fff;
}
.entrada-form
{
    width: 70%;
    padding: 8px 5px;
    margin-bottom: 10px;
} 
.boton-contact
{
    padding: 7px 12px;

}
.pie 
{
    color: #c1c1c1;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
 .botons:hover{
        background: rgb(44, 221, 53);
}




.hero {
    width: 100%;
    height: 70vh;
    background: url("Imagenes/nos1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.h2-sub {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #ebb41c;
    font-weight: 600;
    line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #3bcc75;
    margin: 0 1.6rem;
}

.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #ffc845;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
}
.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: #3bcc75;
}


.global {
    text-align: center;
    margin-top: 3.9rem;
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: #3bcc75;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
}


/*menu*/

.taste {
    background: url("Imagenes/nos3.jpg") center no-repeat;
    background-size: cover;
}

.bt {
    min-height: 65vh;
    display: flex;
    align-items: center;
}


/*platillos*/

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-left: 120px;
}

.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

.pb {
    padding-top: 30px;
    background: url("Imagenes/fondo3.jpg") center no-repeat;
    background-size: cover;
}
.imm
{
   padding-top: 10px;
    width: 50%;
    height: 300px;
    margin-left: 80px;
    padding-bottom: 20px;
}






